<ion-header>
  <ion-toolbar>
    <ion-title id="title"> My Closet </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="addPhotoToGallery()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button  (click)="sendRequest()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-list>
  <ion-item>Seleziona un tuo vestito per creare un outfit</ion-item>
</ion-list>
  <ion-grid>
        <ion-row >    
          <ion-col size = 6>
            <ion-card class="filter-card">
              <ion-card-content >
                <ion-select class="select-card" multiple="true" [(ngModel)]="colorFilter" cancelText="Nah" okText="Okay!" placeholder="Color">
                  <ion-select-option value="Blue">Blue</ion-select-option>
                  <ion-select-option value="Red">Red</ion-select-option>
                  <ion-select-option value="Green">Green</ion-select-option>
                </ion-select>
              </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size = 6>
          <ion-card class="filter-card">
            <ion-card-content>
              <ion-select [(ngModel)]="categoryFilter" placeholder="Category">
                <ion-select-option value="top">Top</ion-select-option>
                <ion-select-option value="bottom">Bottom</ion-select-option>
              </ion-select>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-item-divider></ion-item-divider>

    </ion-row>

  </ion-grid>


  <app-garments [colorFilter]="(!colorFilter || (colorFilter.length==0))? ['Blue','Green','Red'] : colorFilter" 
                [categoryFilter]="(!categoryFilter || (categoryFilter.length==0))? ['top','bottom'] : categoryFilter">
  </app-garments>
