<ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="addPhotoToGallery()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Filter
      </ion-label>
    </ion-list-header>
    </ion-list>



    <ion-grid>
      <ion-row >
        <ion-col>
          <ion-label>Color</ion-label>
          <ion-select multiple="true" cancelText="Nah" okText="Okay!">
            <ion-select-option value="blue">Blue</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-row>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-col>
          <ion-label>Mood</ion-label>
          <ion-select multiple="true" [value]="['wedding', 'funeral']">
            <ion-select-option value="wedding">Wedding</ion-select-option>
            <ion-select-option value="funeral">Funeral</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  <app-garments>
    
  </app-garments>
 
  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let photo of photoService.photos; index as position"
      >
        <ion-img [src]="photo.webviewPath"
        routerLink="detail/{{photo.webviewPath}}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>