  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="opt==='detail'" slot>Garment View</ion-title>
      <ion-title *ngIf="opt==='edit'" slot>Edit View</ion-title>
      <ion-buttons slot="start">
        <ion-back-button *ngIf="opt==='detail'" defaultHref="/tabs/tab1"></ion-back-button>
        <ion-back-button *ngIf="opt==='edit'" defaultHref="/tabs/tab2/outfit/{{outfit.id}}"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="content">
  <ion-grid>
    <ion-row id='header-row' class="no-padding">
      <ion-item class ='no-padding' id="subtitle">FIltra i tuoi risultati di ricerca</ion-item>
    </ion-row>
    


      <ion-row id="filter-row">
        <ion-col size='4'>
          <ion-card>
            <ion-card-content class="filter-card">
              <ion-select multiple="true" cancelText="Nah" okText="Okay!" (ionChange)="colorChange($event)" placeholder = 'Color'>
                <ion-select-option value="blue">Blue</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
              </ion-select>
            </ion-card-content>
          </ion-card>
        </ion-col>
    
        <ion-col size='4'>
          <ion-card >
            <ion-card-content class="filter-card">
              <ion-select multiple="true" [value]="['Elegant', 'Dandy']" (ionChange)="moodChange($event)" placeholder = 'Mood'>
                <ion-select-option value="elegant">Elegant</ion-select-option>
                <ion-select-option value="dandy">Dandy</ion-select-option>
              </ion-select>
            </ion-card-content>
          </ion-card>
        </ion-col>
    
        <ion-col size='4'>
          <ion-card>
            <ion-card-content class="filter-card">
              <ion-select multiple="true" placeholder = 'Event' (ionChange)="eventChange($event)">
                <ion-select-option value="wedding">Wedding</ion-select-option>
                <ion-select-option value="funeral">Funeral</ion-select-option>
              </ion-select>
            </ion-card-content>
          </ion-card>
        </ion-col>
    
      </ion-row>
    </ion-grid>

    <ion-fab vertical='bottom' horizontal='end' slot="fixed">
      <ion-fab-button (click)="save()" style="--background:white">
        <ion-icon  id="heart-icon" name='heart-outline' style="color: black;"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    <div class="garment-card-container"> 
      <ion-card id="main-card">
        <ion-card-header id='main-card-header'>
          <ion-card-title class="no-padding" style="font-size:small">Scegli e salva il tuo outfit!</ion-card-title>

          
        </ion-card-header>
        <ion-card-content>
          <ion-row id="main-row">
            <ion-col size='12'>
              <!-- First garment card-->
                <ion-card class="garment-card" >
                  <ion-card-header class="ion-no-padding">
                    <ion-item  style="font-weight:bolder; font-size: x-small">Your garment</ion-item>
                  </ion-card-header>
                  <ion-card-content class="garment-card-content" >
                    <ion-img class="garment-img" *ngIf="garment"
                    id= userGarment.name
                    src = {{garment.link}}
                    >
                  </ion-img>
                  </ion-card-content>
                </ion-card >
              </ion-col>
                <!-- Second garment card-->
              <ion-col size='12'>
                <ion-card class="garment-card">
                  <ion-card-header class="ion-no-padding">
                    <ion-item style="font-weight:bolder;font-size: x-small">Your match</ion-item>
                  </ion-card-header>
                  <ion-card-content class="garment-card-content">
                    <ion-slides #slider (ionSlideDidChange) = "slideChange()" >
                      <ion-slide *ngFor="let match of matchGarments">
                        <ion-img class="garment-img" [src]='match.link'></ion-img>
                      </ion-slide>
                    </ion-slides>
                  </ion-card-content>      
              </ion-card>
            </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
      </div>
    
  </ion-content>

<!--
<div *ngIf="garment">
  <h2>{{garment.name | uppercase}} Details</h2>
  <div><span>id: </span>{{garment.id}}</div>
  <div>
    <label for="garment-name">Garment name: </label>
    <input id="garment-name" [(ngModel)]="garment.name" placeholder="Garment name"/>
  </div>

  -->


