# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache
FlaskBackend/train_clean_with_all.csv
FlaskBackend/test_operations.py
FlaskBackend/test2.jpg
FlaskBackend/test1.jpg
FlaskBackend/resnet18_1620734491_epoch12_testacc78.585013.pth
FlaskBackend/recnet/train_clean_with_all.csv
FlaskBackend/recnet/test_operations.py
FlaskBackend/recnet/test2.jpg
FlaskBackend/recnet/test1.jpg
FlaskBackend/recnet/resnet18_1620734491_epoch12_testacc78.585013.pth
FlaskBackend/recnet/memory_top.pt
FlaskBackend/recnet/memory_network.py
FlaskBackend/recnet/memory_bot.pt
FlaskBackend/recnet/memnet_kobayashi.py
FlaskBackend/recnet/kobayashi.py
FlaskBackend/recnet/home/ldedivitiis/IQON3000/2618128/3934992/20032143_m.jpg
FlaskBackend/recnet/home/ldedivitiis/IQON3000/2493023/3930774/36523173_m.jpg
FlaskBackend/recnet/home/ldedivitiis/IQON3000/1805373/4043492/37479000_m.jpg
FlaskBackend/recnet/files/mem_bot_ids.pt
FlaskBackend/recnet/files/dict_bottom_ids_and_bottom_paths.pickle
FlaskBackend/recnet/dataloader_garment.py
FlaskBackend/recnet/best_model_mem_val_epoch_229_val_loss_0.05695536394198515_loss_0.47440056099473055.pth
FlaskBackend/recnet/best_model_deeper_CAE_piccolo-2_ep499_loss0.4784902993826985.pth
FlaskBackend/recnet/autoencoder.py
FlaskBackend/recnet/all_ids_bottom_non_corrotti_tensors.pickle
FlaskBackend/recnet/__pycache__/test_operations.cpython-38.pyc
FlaskBackend/recnet/__pycache__/memory_network.cpython-38.pyc
FlaskBackend/recnet/__pycache__/kobayashi.cpython-38.pyc
FlaskBackend/recnet/__pycache__/dataloader_garment.cpython-38.pyc
FlaskBackend/recnet/__pycache__/autoencoder.cpython-38.pyc
FlaskBackend/model_final.pth
FlaskBackend/memory_top.pt
FlaskBackend/memory_network.py
FlaskBackend/memory_bot.pt
FlaskBackend/memnet_kobayashi.py
FlaskBackend/mask_rcnn_R_50_FPN_1x.yml
FlaskBackend/kobayashi.py
FlaskBackend/home/ldedivitiis/IQON3000/2618128/3934992/20032143_m.jpg
FlaskBackend/home/ldedivitiis/IQON3000/2493023/3930774/36523173_m.jpg
FlaskBackend/home/ldedivitiis/IQON3000/2441317/3598469/6574087_m.jpg
FlaskBackend/home/ldedivitiis/IQON3000/1805373/4043492/37479000_m.jpg
FlaskBackend/home/ldedivitiis/IQON3000/1220149/3444971/8746680_m.jpg
FlaskBackend/files/mem_bot_ids.pt
FlaskBackend/files/dict_bottom_ids_and_bottom_paths.pickle
FlaskBackend/dataloader_garment.py
FlaskBackend/conf.yml
FlaskBackend/best_model_mem_val_epoch_229_val_loss_0.05695536394198515_loss_0.47440056099473055.pth
FlaskBackend/best_model_deeper_CAE_piccolo-2_ep499_loss0.4784902993826985.pth
FlaskBackend/autoencoder.py
FlaskBackend/app.py
FlaskBackend/all_ids_bottom_non_corrotti_tensors.pickle
FlaskBackend/__pycache__/test_operations.cpython-38.pyc
FlaskBackend/__pycache__/memory_network.cpython-38.pyc
FlaskBackend/__pycache__/kobayashi.cpython-38.pyc
FlaskBackend/__pycache__/dataloader_garment.cpython-38.pyc
FlaskBackend/__pycache__/autoencoder.cpython-38.pyc
FlaskBackend/trained_models/unet_one_sample_train_lol.h5
FlaskBackend/app.py
