<!--
<app-empty-cart [selectedOutfits] = "selectedOutfits">

</app-empty-cart>
-->


<div id ='empty-cart' class="container-fluid mt-100" *ngIf="selectedOutfits.length==0">
  <ion-row>
      <ion-col size='12'>
          <ion-card>
              <ion-card-content>
                <ion-row>
                <ion-col size='2'></ion-col>
                  <ion-col size='8' id='empty-cart'> <ion-icon name="bandage-outline" size = 'large'></ion-icon>
                      <h3><strong>Ancora non hai creato un outfit!</strong></h3>
                  </ion-col>
                  <ion-col size='2'></ion-col>
                </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</div>


<ion-grid>
  <ion-row>
  <ion-col size="6" *ngFor="let outfit of selectedOutfits|async">

    <ion-card>
      <ion-card-content>
        <ion-card >
          <ion-card-content routerLink="outfit/{{outfit.id}}" >
        
            <ion-img class='img' 
            [src]="outfit.userGarment.link"
            
            >
        
            </ion-img>
    
            
        
            </ion-card-content>
            </ion-card>
    
            
            <ion-card>
              <ion-card-content>
                <ion-img class='img'
                  [src]="outfit.matchGarment.link"
                  >
                
                </ion-img>
              </ion-card-content>
            </ion-card>
      </ion-card-content>
    </ion-card>
    
    
        

  </ion-col>
</ion-row>
</ion-grid> 

