<ion-header>
  <ion-toolbar>
    <ion-title class='title'> Saved Outfits </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>



<ion-grid>
  <ion-row id='header-row' class="no-padding">
    <ion-item id="subtitle">Take a look at your saved outfits and try to wear them!</ion-item>
  </ion-row>
  <ion-row class="no-padding">
    <ion-col size='4'>
      <ion-card>
        <ion-card-content class="filter-card">
          <ion-select multiple="true"  placeholder = 'Color'>
            <ion-select-option value="blue">Blue</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size='4'>
      <ion-card>
        <ion-card-content class="filter-card">
          <ion-select multiple="true" [value]="['Elegant', 'Dandy']"  placeholder = 'Mood'>
            <ion-select-option value="elegant">Elegant</ion-select-option>
            <ion-select-option value="dandy">Dandy</ion-select-option>
          </ion-select>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size='4'>
      <ion-card>
        <ion-card-content class="filter-card">
          <ion-select multiple="true" placeholder = 'Event'>
            <ion-select-option value="wedding">Wedding</ion-select-option>
            <ion-select-option value="funeral">Funeral</ion-select-option>
          </ion-select>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-item-divider class="divider"></ion-item-divider>


  </ion-row>
</ion-grid>

  <app-outfit>

  </app-outfit>

  </ion-content>
  