
#title {
    font-size: 1.5em;
}

.filter-card{
    padding: 0;
    font-size: smaller;
}

#save-button{
    color: black;
}

.divider{
    min-height: 0 !important; 
}

#preview-card {
    width: 100%;
}

#save-button {
    left: 0;
    bottom: 10px;
    right: 0;
    --background: cornsilk; 
    color:black;
}