<ion-header>
  <ion-toolbar>
    <ion-title id="title">Preview</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)='exit()'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

        <ion-card id="preview-card">
          <ion-card-header>
            <ion-item style="font-weight: bold;">Your garment</ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-img
            src = {{photoService.garment.link}} ></ion-img>
          </ion-card-content>
        </ion-card>


    </ion-row>


    <ion-row>
      <ion-col size='6'>
        <p>What color is your garment?</p>
      </ion-col>
      <ion-col size='6'>
        <ion-card >
          <ion-card-content class="filter-card" >
            <ion-select class="select-card" [(ngModel)]="colorFilter" (ionChange)="colorChange($event)"  placeholder="Color">
              <ion-select-option value="Blue">Blue</ion-select-option>
              <ion-select-option value="Red">Red</ion-select-option>
              <ion-select-option value="Green">Green</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-item-divider class="divider"></ion-item-divider>
    </ion-row>

    <ion-row>
      <ion-col size='6'>
        <p>What is your garment?</p>
      </ion-col>
      <ion-col size='6'>
        <ion-card >
          <ion-card-content class="filter-card" >
            <ion-select class="select-card" [(ngModel)]="categoryFilter" (ionChange)="categoryChange($event)" placeholder="Category">
              <ion-select-option value="Top">Top</ion-select-option>
              <ion-select-option value="Bottom">Bottom</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-item-divider class="divider"></ion-item-divider>
    </ion-row>

    <ion-row>
      <ion-col size='6'>
        <p>What is the best season to wear it?</p>
      </ion-col>
      <ion-col size='6'>
        <ion-card >
          <ion-card-content class="filter-card" >
            <ion-select class="select-card" [(ngModel)]="seasonFilter" (ionChange)="seasonChange($event)" placeholder="Season">
              <ion-select-option value="Spring">Spring</ion-select-option>
              <ion-select-option value="Summer">Summer</ion-select-option>
              <ion-select-option value="Autumn">Autumn</ion-select-option>
              <ion-select-option value="Winter">Winter</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-item-divider class="divider"></ion-item-divider>
    </ion-row>
    <ion-row>
      <ion-col size='12'>
        <ion-alert-controller></ion-alert-controller>
        <ion-button id="save-button" (click)='savePicture()' expand="block" >Save!</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
