<ion-header>
  <ion-toolbar>
    <ion-title slot>Outfit View</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab vertical='bottom' horizontal='end' >
  <ion-row>
    <ion-col>
      <ion-fab-button (click)="delete()">
        <ion-icon name='trash-outline'></ion-icon>
      </ion-fab-button>
    </ion-col>
    <ion-col>
      <ion-fab-button (click)="edit()" >
        <ion-icon name='create-outline'></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>
</ion-fab>

<ion-content>

  

  <ion-row id='header-row' class="no-padding">
    <ion-item style="font-size:small">Applied Filters:</ion-item>
  </ion-row>

  <ion-row >    
    <ion-col size = 6>
      <ion-card >
        <ion-card-header class="no-padding">Mood</ion-card-header>
        <ion-card-content class="filter-card no-padding" >
          <ion-item id="mood-text">Felice</ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size = 6>
      <ion-card >
        <ion-card-header class="no-padding">Event</ion-card-header>
        <ion-card-content class="filter-card no-padding" >
          <ion-item id="event-text"></ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

</ion-row>


  <div class="outfit-card-container"> 
    <ion-card class="main-card">
      <ion-card-header id="card-header">
        <ion-card-title >Your Outfit </ion-card-title>

        
      </ion-card-header>
      <ion-card-content>
        <div class="outfit-card-container"> 
          <ion-row>
            <ion-col size='12'>
            <!-- First garment card-->
              <ion-card class="outfit-card" >
                <ion-card-content >
                  <ion-img
                  id= {{getGarment(this.outfit.userGarment).id}}
                  src = {{getGarment(this.outfit.userGarment).link}}
                  >
                </ion-img>
                </ion-card-content>
              </ion-card >
            </ion-col>
            <ion-col size="12">              <!-- Second garment card-->
              <ion-card class="outfit-card">
                <ion-card-content>
                  <ion-img
                  id= {{getGarment(this.outfit.matchGarment).id}}
                  src = {{getGarment(this.outfit.matchGarment).link}}
                  >
                  </ion-img>
                </ion-card-content>      
            </ion-card>
          </ion-col>

      </ion-row>
      </div>
      
      </ion-card-content>
    </ion-card>
    </div>


    
  
</ion-content>




