.outfit-card{
    width: 80%;
    margin-left: 10%;

    
}

.no-padding{
    padding-bottom:0px;
}

.no-margin {
    margin:0;
}

.filter-card{
    padding: 0;
    font-size: smaller;
}

.main-card{
    width: 100%;


}

.outfit-card-container{
    display: flex;
    align-items: center; 
    justify-content: center;
}

ion-card-header {
     position: relative }

.outfit-right{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 3em;
}



.card-content {
    text-align: center;
}