.outfit-card{
    width: 80%;

    
}

.main-card{
    width: 80%;


}

.outfit-card-container{
    display: flex;
    align-items: center; 
    justify-content: center;
}

ion-card-header {
     position: relative }

.outfit-right{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 3em;
}

.verticalLine {
    width:1%;
    height:100%;
    background:black;
    margin-top: 0;
    display: flex;
    justify-content: center;
    
  }

  .icon-displayed{
     height: 50%;
     width: 50%;
     
  }

  .text-displayed{
      display: flex;
      justify-content: center;
  }

  #card-header{
      margin-bottom: 2em;
  }