<ion-header>
  <ion-toolbar>
    <ion-title slot>Outfit View</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="outfit-card-container"> 
    <ion-card class="main-card">
      <ion-card-header id="card-header">
        <ion-card-title >Your Outfit </ion-card-title>
        <ion-fab vertical='top' horizontal='end' >
          <ion-row>
            <ion-col>
              <ion-fab-button (click)="delete()">
                <ion-icon name='trash-outline'></ion-icon>
              </ion-fab-button>
            </ion-col>
            <ion-col>
              <ion-fab-button (click)="edit()" >
                <ion-icon name='create-outline'></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
      </ion-fab>
        
      </ion-card-header>
      <ion-card-content>
        <div class="outfit-card-container"> 
        <!-- First garment card-->
          <ion-card class="outfit-card" >
            <ion-card-content >
              <ion-img *ngIf="outfit"
              id= userGarment.name
              src = {{userGarment.link}}
              >
            </ion-img>
            </ion-card-content>
          </ion-card >
          <!-- Second garment card-->
          <ion-card class="outfit-card">
            <ion-card-content>
              <ion-img *ngIf="outfit"
              id= {{recommendedGarment.name}}
              src = {{recommendedGarment.link}}
              >
              </ion-img>
            </ion-card-content>      
        </ion-card>
        </div>
      </ion-card-content>
    </ion-card>
    </div>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Filtri applicati:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size=4 id="displayMood">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Mood</ion-card-title>
              </ion-card-header>
              <ion-card-content class="card-content">
                <ion-icon class="icon"  name="happy-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size = 4 id="displaCategory">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Categoria</ion-card-title>
              </ion-card-header>
              <ion-card-content class="card-content">
                <ion-icon class="icon" name="happy-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size = 4 id="displayEvent">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Evento</ion-card-title>
              </ion-card-header>
              <ion-card-content class="card-content">
                <ion-icon class="icon" name="happy-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
</ion-content>




